body{
    background-image: url(../images/background.jpg);
    width: 100%;
}

#container {
    height: 800px;
    width:850px;
    margin: 0 auto;
    background: url(../images/invisible.png) center top repeat;
}

ul#nav {
    width: 850px;
    margin: 0 auto;
    text-align: center;
    overflow: hidden;
}
ul#nav li {
    float: left;
    list-style: none;
}
ul#nav li a {
    display: block;
    width:97px;
    height: 77px;
    padding: 72px 0 0 0;
    margin: 0 25px 0 25px;
    font: bold 14px Helvetica, Arial, Sans-Serif;
    text-transform: uppercase;
    color: white;
    text-shadow: 0 1px 3px #c4bda6;
    text-decoration: none;
    background: url(../images/label.png) 0 -149px no-repeat;
}
ul#nav li a:hover {
    background: url(../images/label.png) 0 0 no-repeat;
    color: #eee9d9;
    text-shadow: 0 2px 3px #4c2222;
}

ul#nav li a.js:hover {
    background: url(../images/label.png) 0 -149px no-repeat;
}

